{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Thank you!
{% endblock %}

{% block content %}

    <p>
        If you have any questions or concerns about the manner in which this study was conducted, please contact the IRB
        Chairperson Jason Nier (<a href="mailto:janie@conncoll.edu">janie@conncoll.edu</a>).
    </p>

    <p>
        Upon completion of the research study, we will post further information about the purposes and finding
        <a href="https://geoffreycastillo.com/pdf/mturk/social-preferences-debriefing-statement.pdf" target="_blank">here</a>.
    </p>

    <p>
        You may also contact Dr. Benjamin Beranek (<a href="mailto:bberanek@conncoll.edu">bberanek@conncoll.edu</a>)
        or Dr. Geoffrey Castillo (<a href="mailto:geoffrey.castillo@univie.ac.at">geoffrey.castillo@univie.ac.at</a>)
        for additional resources.
    </p>


    <h4>Your completion code is: 2020-11-sd-i</h4>

    <h4>Do not forget to go back to the HIT, enter the completion code and click 'Submit'!</h4>

{% endblock %}


