venv
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
.DS_Store
*.otreezip
data - Copy\.csv

export_dataframe\.csv
distances_table*.csv
matched_participants_table*.csv

generated_tables/options_tables/
