<div class="form-group row required">
    <label class="col-form-label col" for="id_{ label_field.field }}">{{ label_field.label }}</label>
    <div class="controls col  field-{{ label_field.field }}">
        <input type="number" name="{{ label_field.field }}" min="{{ field_min }}" max="{{ field_max }}" required id="id_{{ label_field.field }}"
               class="form-control {% if label_field.bool|default_if_none:True == False %}is-invalid{% else %}is-valid{% endif %} " {% if readonly == True %}readonly{% endif %}
               placeholder="{{ label_field.value|default_if_none:"" }}">
    </div>
</div>